<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Hotel Pingo Martins</mat-card-title>
        <mat-card-subtitle>5 estrelas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            O Hotel pingo martins eh um hotel maravilhoso onde o proprio pingo martins late o dia todo no ouvido dos hospedes.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Curtir</button>
        <button mat-button>Compartilhar</button>
    </mat-card-actions>
</mat-card>