<div class="tabela">

    <h3>Usuarios:</h3>
    <table mat-table [dataSource]="usuarios" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nomeUser}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.emailUser}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef> CPF </th>
            <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="opcoes">
            <th mat-header-cell *matHeaderCellDef> Opcoes </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <br>


</div>

<!-- <div class="cards">
    <app-card-fancy-example></app-card-fancy-example>
    <app-card-fancy-example></app-card-fancy-example>
</div> -->